{% extends 'base.html' %}


{% block content %}
  <!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg">
  </div>
  <!-- bradcam_area_end -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ post.title }}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i>{{ post.category }}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                     </ul>
                      <img class="card-img rounded-0" src="{{ post.image.url }}" alt="">
                      <hr>
                     <p class="excert">{{ post.text }}</p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>05 Comments</h4>
                   {% for com in comments %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{ com.text }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{ com.name }}</a>
                                    </h5>
                                    <p class="date">{{ com.created_at }}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                   {% endfor %}

               </div>
               <div class="comment-form">
                  <h4>Оставить комментарий</h4>
                  <form class="form-contact comment_form" action="{% url 'add_comment' post.slug %}" method="post" id="commentForm">
                      {% csrf_token %}
                      {{ comment_form.name }}
                     {{ comment_form.text }}
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Добавить комментарий</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               {% include 'blog/_components/_right_sidebar.html' %}
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
{% endblock content %}
